<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./tutorial-title.html">

<dom-module id="tutorial-level-title">
    <template>
        <tutorial-title title="[[value]]" subtitle="[[subtitle]]"></tutorial-title>
    </template>

    <script>
        class TutorialLevelTitle extends Polymer.Element {
            static get is() {
                return 'tutorial-level-title';
            }

            static get properties() {
                return {
                    value: String,
                    level: String,
                    progress: Object,
                    subtitle: {
                        type: String,
                        computed: '_calculateSubtitle(level, progress)'
                    }
                };
            }

            _calculateSubtitle(level, progress) {
                let result = `Level ${level}`;
                return !!progress ? `${result} - ${progress.current}/${progress.total}` : result;
            }
        }

        window.customElements.define(TutorialLevelTitle.is, TutorialLevelTitle);
    </script>
</dom-module>
