<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="tutorial-paul-next-text-button.html">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<dom-module id="tutorial-paul">
    <template>
        <style>
            :host {
                display: block;
                font-family: Roboto;
                color: #fff;
            }

            p {
                line-height: 1.5;
            }

            .paul-text {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 5%;
            }

            .text-balloon {
                width: 80%;
                border: 1px solid white;
                flex-grow: 8;
                background-color: white;
                color: #66b9bf;
                border-radius: 25px;
                padding: 2%;
                font-size: 1.2em;
                height: 200px;
            }

            .paul-imer {
                width: 15%;
                height: 15%;
            }
        </style>

        <div class="paul-text">
            <img class="paul-imer" src="../../static/images/paul_imer.png"/>
            <div class="text-balloon" on-click="skipTalking">
                <p>[[currentText]]</p>
                <tutorial-paul-next-text-button id="next-link"
                                                visible="[[displayNext]]">
                </tutorial-paul-next-text-button>
            </div>
        </div>
    </template>

    <script>

        class TutorialPaul extends Polymer.Element {
            static get is() {
                return 'tutorial-paul';
            }

            static get properties() {
                return {
                    text: {
                        type: Array,
                        value: [],
                    },
                    currentTextIndex: {
                        type: Number,
                        value: 0
                    },
                    currentText: {
                        type: String,
                        value: ''
                    },
                    displayNext: {
                        type: Boolean,
                        value: false,
                    },
                    _busyTalking: {
                        type: Boolean,
                        value: false,
                    }
                };
            }

            ready() {
                super.ready();
                this._startTalking();

                this.addEventListener('next-text-please', this._displayNextText);
            }

            _displayNextText() {
                this.currentTextIndex++;
                this._startTalking();
            }

            _startTalking() {
                this.currentText = '';
                this._busyTalking = true;
                this.displayNext = false;
                this.displayText(0);
            }

            displayText(index) {
                if (index < this.text[this.currentTextIndex].length && this._busyTalking) {
                    this.currentText += this.text[this.currentTextIndex][index];
                    const newIndex = index + 1;
                    setTimeout(() => {
                        this.displayText(newIndex);
                    }, 15);
                } else {
                    this.calculateDisplayNext();
                    this.fireEventWhenNecessary();
                }
            }

            paulSaysLastLine() {
                return this.currentTextIndex === this.text.length - 1;
            }

            calculateDisplayNext() {
                this.displayNext = !this.paulSaysLastLine();
            }

            fireEventWhenNecessary() {
                if (this.paulSaysLastLine()) {
                    this.dispatchEvent(new CustomEvent('paul-talked', {composed: true}));
                }
            }

            skipTalking(e) {
                if (e.target.id !== 'next-link') {
                    this.currentText = this.text[this.currentTextIndex];
                    this._busyTalking = false;
                    this.calculateDisplayNext();
                    this.fireEventWhenNecessary();
                }
            }
        }

        window.customElements.define(TutorialPaul.is, TutorialPaul);
    </script>
</dom-module>
