<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel="import" href="tutorial-file-tabs.html">
<link rel="import" href="tutorial-code-hint.html">
<link rel="import" href="tutorial-follow-up-message.html">

<dom-module id="tutorial-code-practice">
    <template>
        <style>
            .exercise-header {
                display: flex;
            }

            .practice {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 3%;
            }

            .exercise {
                width: 40%;
            }

            .exercise-body {
                margin-bottom: 5%;
            }

            .editor {
                height: 10em;
            }
        </style>

        <div class="practice">
            <div class="exercise">
                <div class="exercise-header">
                    <tutorial-file-tabs tabs="[[tabs]]" selected-tab="[[_currentTab]]">
                    </tutorial-file-tabs>
                </div>
                <div class="exercise-body">
                    <juicy-ace-editor
                            id="code-editor"
                            class="editor"
                            min-lines="10"
                            max-lines="25"
                            theme="ace/theme/monokai"
                            mode="ace/mode/html"
                            value="{{_currentCode}}">
                    </juicy-ace-editor>
                    <tutorial-code-hint visible="[[!_currentCodeIsCorrect]]"
                                        hint="[[_getCurrent('hint')]]"
                                        file-name="[[_getCurrent('fileName')]]">
                    </tutorial-code-hint>
                </div>
            </div>
            <div>
                <tutorial-follow-up-message visible="[[_currentCodeIsCorrect]]" follow-up-message="[[followUpMessage]]">
                </tutorial-follow-up-message>
            </div>
        </div>
    </template>

    <script>
        class TutorialCodePractice extends Polymer.Element {
            static get is() {
                return 'tutorial-code-practice';
            }

            static get properties() {
                return {
                    tabs: {
                        type: Array,
                        value: [],
                        // [ { fileName: 'fileName', solutionRegExp: '', template: '', hint: ''}]
                    },
                    followUpMessage: {
                        type: String,
                        value: '',
                    },
                    _code: {
                        type: Array,
                        value: [],
                    },
                    _currentCode: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_currentCodeChanged',
                    },
                    _currentTab: {
                        type: Number,
                        value: 0,
                    },
                    _currentCodeIsCorrect: {
                        type: Boolean,
                        value: false,
                    },
                    _editor: {
                        type: Object,
                        value: {},
                    }
                };
            }

            ready() {
                super.ready();
                this._code = this.tabs.map(file => file.template);
                this._currentCode = this._code[0];

                this.addEventListener('change', this._currentCodeChanged);
                this.addEventListener('editor-ready', e => this._storeEditor(e));
                this.addEventListener('file-tab-changed', this._changeTab);
            }

            _getCurrent(field) {
                return this.tabs[this._currentTab][field];
            }

            _storeEditor(e) {
                this._editor = e.detail;
            }

            _changeTab(tabChangedEvent) {
                this._code[this._currentTab] = this._currentCode;
                this._currentTab = tabChangedEvent.detail.selectedTab;
                this._currentCode = this._code[this._currentTab];
            }

            _currentCodeChanged() {
                if (!!this._editor.getSession) {
                    const newValue = this._editor.getSession().getValue();
                    this._currentCodeIsCorrect = this._checkSolution(this._currentTab, newValue);
                    this._code[this._currentTab] = newValue;
                    this._fireEventBasedOnCodeCorrectness();
                }
            }

            _fireEventBasedOnCodeCorrectness() {
                const eventName = this.tabs.every((value, index) => this._checkSolution(index, this._code[index]))
                    ? 'solution-correct'
                    : 'solution-incorrect';

                this.dispatchEvent(new CustomEvent(eventName, {composed: true}));
            }

            _checkSolution(tabIndex, code) {
                const solutionRegExp = RegExp(this.tabs[tabIndex].solutionRegExp, 'gm');

                return solutionRegExp.test(code);
            }
        }

        window.customElements.define(TutorialCodePractice.is, TutorialCodePractice);
    </script>
</dom-module>
