<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="tutorial-file-tabs.html">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<dom-module id="tutorial-code-practice">
    <template>
        <style>
            .exercise-header {
                display: flex;
            }

            .practice {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 3%;
            }

            .exercise {
                width: 40%;
            }

            .follow-up-message {
                margin-left: 5%;
                border: 1px solid white;
                background-color: white;
                color: #66b9bf;
                border-radius: 25px;
                padding: 2%;
                font-size: 1.2em;
                height: 80px;
                line-height: 1.2;
            }

            .exercise-body {
                margin-bottom: 5%;
            }

            .editor {
                height: 10em;
            }

            .hint {
                background-color: #e37222;
                color: #fff;
                border-radius: 2px;
                font-size: 0.75em;
            }

            .dialog {
                background-color: #e6e6e6;
            }

            .hint-title {
                text-decoration: underline;
            }
        </style>

        <div class="practice">
            <div class="exercise">
                <div class="exercise-header">
                    <tutorial-file-tabs tabs="[[tabs]]" selected-tab="[[_currentTab]]"></tutorial-file-tabs>
                </div>
                <div class="exercise-body">
                    <juicy-ace-editor
                            id="code-editor"
                            class="editor"
                            min-lines="10"
                            max-lines="25"
                            theme="ace/theme/monokai"
                            mode="ace/mode/html"
                            value="{{_currentCode}}">
                    </juicy-ace-editor>
                    <template is="dom-if" if="{{!_currentCodeIsCorrect}}">
                        <button class="hint" on-click="_showHint">Hint</button>
                        <paper-dialog class="dialog" id="dialog" opened="{{_hintIsDisplayed}}">
                            <h2 class="hint-title">Hint for [[_currentFilename]]</h2>
                            <p><pre><code>[[_currentHint]]</code></pre></p>
                        </paper-dialog>
                    </template>
                </div>
            </div>
            <div>
                <template is="dom-if" if="{{_currentCodeIsCorrect}}">
                    <p class="follow-up-message">[[followUpMessage]]</p>
                </template>
                <p></p>
            </div>
        </div>
    </template>

    <script>
        class TutorialCodePractice extends Polymer.Element {
            static get is() {
                return 'tutorial-code-practice';
            }

            static get properties() {
                return {
                    tabs: {
                        type: Array,
                        value: [],
                        // [ { fileName: 'fileName', solutionRegExp: '', template: '', hint: ''}]
                    },
                    followUpMessage: {
                        type: String,
                        value: '',
                    },
                    _code: {
                        type: Array,
                        value: [],
                    },
                    _currentCode: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_currentCodeChanged',
                    },
                    _currentFilename: {
                        type: String,
                        value: '',
                    },
                    _currentHint: {
                        type: String,
                        value: '',
                    },
                    _currentTab: {
                        type: Number,
                        value: 0,
                    },
                    _currentCodeIsCorrect: {
                        type: Boolean,
                        value: false,
                    },
                    _editor: {
                        type: Object,
                        value: {},
                    },
                    _hintIsDisplayed: {
                        type: Boolean,
                        value: false,
                    }
                };
            }

            ready() {
                super.ready();
                this._code = this.tabs.map(file => file.template);
                this._currentCode = this._code[0];
                this._currentFilename = this.tabs[this._currentTab].fileName;
                this._currentHint = this.tabs[this._currentTab].hint;

                this.addEventListener('change', this._currentCodeChanged);
                this.addEventListener('editor-ready', e => this._storeEditor(e));
                this.addEventListener('file-tab-changed', this._changeTab);
            }

            _storeEditor(e) {
                this._editor = e.detail;
            }

            _additionalTabClass(tabIndex) {
                if (tabIndex === this._currentTab) {
                    return 'active tab';
                }

                return 'tab';
            }

            _changeTab(tabChangedEvent) {
                this._code[this._currentTab] = this._currentCode;
                this._currentTab = tabChangedEvent.detail.selectedTab;
                this._currentCode = this._code[this._currentTab];
                this._currentFilename = this.tabs[this._currentTab].fileName;
                this._currentHint = this.tabs[this._currentTab].hint;
            }

            _currentCodeChanged() {
                if (!!this._editor.getSession) {
                    const newValue = this._editor.getSession().getValue();
                    const solutionRegExp = RegExp(this.tabs[this._currentTab].solutionRegExp, 'gm');

                    this._currentCodeIsCorrect = solutionRegExp.test(newValue);
                    this._code[this._currentTab] = newValue;
                    this._fireEventWhenAllCodeIsCorrect();
                }
            }

            _fireEventWhenAllCodeIsCorrect() {
                if (this._allCodeIsCorrect()) {
                    this.dispatchEvent(new CustomEvent('solution-correct', {composed: true}));
                } else {
                    this.dispatchEvent(new CustomEvent('solution-incorrect', {composed: true}));
                }
            }

            _allCodeIsCorrect() {
                let solutionRegExp;
                let solutionIsComplete = true;
                for (let index = 0; index < this.tabs.length && solutionIsComplete; index++) {
                    solutionRegExp = RegExp(this.tabs[index].solutionRegExp, 'gm');
                    solutionIsComplete = solutionIsComplete && solutionRegExp.test(this._code[index]);
                }

                return solutionIsComplete;
            }

            _showHint() {
                this._hintIsDisplayed = true;
            }
        }

        window.customElements.define(TutorialCodePractice.is, TutorialCodePractice);
    </script>
</dom-module>
