<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./tutorial-title.html">

<dom-module id="tutorial-level-title">
    <template>
        <tutorial-title title="[[value]]" subtitle="Level [[level]]" progress="[[progress]]"></tutorial-title>
    </template>

    <script>
        class TutorialLevelTitle extends Polymer.Element {
            static get is() {
                return 'tutorial-level-title';
            }

            static get properties() {
                return {
                    value: String,
                    level: String,
                    progress: Object,
                };
            }
        }

        window.customElements.define(TutorialLevelTitle.is, TutorialLevelTitle);
    </script>
</dom-module>
