<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="tutorial-paul-next-text-button.html">
<link rel="import" href="tutorial-paul-text-balloon.html">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<dom-module id="tutorial-paul">
    <template>
        <style>
            .paul-text {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 5%;
            }

            .paul-imer {
                width: 15%;
                height: 15%;
            }

            .paul-speech {
                width: 81.8%;
            }
        </style>

        <div class="paul-text">
            <img class="paul-imer" src="../../static/images/paul_imer.png"/>
            <tutorial-paul-text-balloon class="paul-speech" text="[[text]]"></tutorial-paul-text-balloon>
        </div>
    </template>

    <script>

        class TutorialPaul extends Polymer.Element {
            static get is() {
                return 'tutorial-paul';
            }

            static get properties() {
                return {
                    text: {
                        type: Array,
                        value: [],
                    },
                };
            }
        }

        window.customElements.define(TutorialPaul.is, TutorialPaul);
    </script>
</dom-module>
